body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #4CAF50, #008CBA);
  margin: 0;
  padding: 0;
}

.landing-page, .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.powered-by, .author {
  color: #fff;
  font-size: 2em;
}

.author {
  margin-top: 20px;
}

.start-game-btn {
  margin-top: 40px;
  padding: 10px 20px;
  font-size: 1.5em;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px; /* Add rounded corners */
}

.start-game-btn:hover {
  background-color: #0056b3;
}

.container {
  text-align: center;
}

.game-title {
  font-family: 'Bubblegum Sans', cursive;
  color: #fff;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-gap: 5px;
  margin-top: 20px;
  justify-content: center; /* Center the grid horizontally */
}

.cell {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid #ced4da;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;
  border-radius: 10px;
}

.new-game-btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  border-radius: 10px; /* Add rounded corners */
}

.new-game-btn:hover {
  background-color: #0056b3;
}

.result-screen {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.result-screen.active {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center vertically */
  align-items: center; /* Center horizontally */
}

.result-message {
  color: #000;
  font-size: 2em;
  font-family: 'Bahnschrift SemiBold', sans-serif;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0); /* Transparent background */
  backdrop-filter: blur(4px); /* Apply a blur effect */
  z-index: 999; /* Ensure it's above everything else */
}

.confetti {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: #f00;
  border-radius: 50%;
  z-index: 1000;
  animation: falling 3s linear infinite;
}

@keyframes falling {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(100vh);
  }
}
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  z-index: 9999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.overlay.active {
  display: flex;
}
